body{
    margin: 0;
    background-color: #6fd5a0;
}
h1{
    margin: 0;
    color: #f5f5dc;
    font-family: 'Kanit', sans-serif;
}
.contenido1{
    background-color: #6fd5a0;
    padding: 3%;
}
.contenido1 p{
    font-family: monospace;
    font-size: 20px;
    text-align: center;
    margin: 35px 0px;
}
.contenido1 h2{
    font-family: monospace;
    text-align: center;
    color: #191970;
}
